extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code HTML for beginers';
        var myDescription = 'HTML is easy and fun to learn';
        var landingPage = 'CSS';
        var activeLink= '/css/borders';

block awesome-content
    h1= myTitle
    p= myDescription
    h2 CSS Borders

    

