extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'JavaScript Comments';
        var myDescription = 'JavaScript comments can be used to explain JavaScript code, and to make it more readable';
        var landingPage = 'JavaScript';
        var activeLink= '/javascript/comments';

block awesome-content
    h1= myTitle
    p= myDescription
    h5 JavaScript comments can also be used to prevent execution, when testing alternative code
    

