extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'JavaScript Operators';
        var myDescription = 'Operators can be of multiple types';
        var landingPage = 'JavaScript';
        var activeLink= '/javascript/operators';

block awesome-content
    h1= myTitle
    p= myDescription
    h3 ......................................................

    

