extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'JavaScript Variables';
        var myDescription = 'JavaScript variables are containers for storing data values.';
        var landingPage = 'JavaScript';
        var activeLink= '/javascript/variables';

block awesome-content
    h1= myTitle
    p= myDescription
    h5 In programming, just like in algebra, we use variables to hold values
    

