doctype html
html
    head
        title Learn to code HTML, CSS and JavaScript
        meta(name="w3school-replica", content="This is a HTML replica of w3school")
        link(rel="stylesheet", href='style.css')
    body
        include ../header/header
        article
            block awesome-content
        include ../nav/nav

        include ../footer/footer