doctype html
html
    block cool-config
    head
        title= myTitle
        meta(name="w3school-replica", content= myDescription)
        link(rel="stylesheet", href='/style.css')
    body
        include ../header/header
        article
            block awesome-content
        include ../nav/nav

        include ../footer/footer