extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code JavaScript for beginers';
        var myDescription = 'CSS is AWESOME, powerful, and fun to learn';
        var landingPage = 'JavaScript';
        var activeLink= '';

block awesome-content
    h1= myTitle
    p= myDescription
    h2 JavaScript Comments
    p JavaScriptComments can be used to explain JavaScript code and to make it more readable
    p JavaScriptComments can also be used to prevent execution, when testing alternative code
    h2 JavaScript variables
    p JavaScript variables are containes for storing data values
    h2 JavaScript Operators
    p With JavaScript Operators we can perform arithmentic on numbers, align values, concatenation etc.
    

