doctype html
html
    head
        title Learn to code HTML, CSS and JavaScript
        meta(name="w3school-replica", content="This is a HTML replica of w3school")
        link(rel="stylesheet", href='style.css')
    body
        header
            a.current(href="/") Home
            a(href="/html") HTML
            a(href="/CSS") CSS
            a(href="/JavaScript") JavaScript


        article
            h1 This is a replica of w3schools.com
            p I'll go through all possible HTML elemens s well as CSS
            h1 HTML
            p The language for building pages #[a(href="/html") Check it out!]
            h1 CSS
            p The language for styling pages #[a(href="/CSS") See awesomeness happening!]
            h1 JavaScript
            p The language for programming pages #[a(href="/JavaScript") Discover the way up!]

        nav
            h3 HTML and CSS
            a(href="/html") Learn HTML
            a(href="/CSS") Learn CSS
            a(href="/JavaScript") Learn JavaScript

        footer &copy; 2018 just for learning purposes!